.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  list-style: none;
}

.pagination .page-link {
  padding: 8px 14px;
  border-radius: 50%;
  background: white;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.pagination .page-link:hover {
  background: #3b82f6;
  color: white;
  border-color: #3b82f6;
}

.pagination .active .page-link {
  background: #2563eb;
  color: white;
  border-color: #2563eb;
  font-weight: bold;
}
